body {
    /* background-image: url("bts.jpeg"); */
    background-color: #2b2c2b;
  }

.card {
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: green;
}

.container{
    width: 50%;
    margin: 0 auto;
}

label {
  display: block;
  font-size: 20px;
  margin-top: 10px;
}

input[type="text"],
input[type="submit"] {
  display: block;
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
}

ul {
  margin-top: 10px;
  padding: 0;
  list-style: none;
  font-size: 20px;
}

li {
  margin: 5px 0;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #3e8e41;
  }
  
  .button:active {
    background-color: #1e4420;
  }

.input {
    display: block;
    width: 97%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;

}

  